body {
  margin: 0;
  padding: 0;
  background: #805386;
  font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar{
    background:#5d5e63;
    color:black;
    text-align:center;
    padding:20px;
    font-size:28px;
    font-weight:bold;
    box-shadow:0 4px 8px rgba(0,0,0,.2);
}

/* Main Container */

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card:hover{
    transform:translateY(-5px);
}


/* Heading */

.card h2{
    color:#1e3a8a;
}


.card {
  background: rgb(65, 172, 160);
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(216, 18, 18, 0.15);
}

/* Textarea */

textarea{
    width:100%;
    padding:10px;
    font-size:16px;
    border-radius:10px;
    border:2px solid #59bf8f;
    outline:none;
}

/* Buttons */

button{
    padding:10px 20px;
    margin:8px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-size:16px;
    font-weight:bold;
    transition:.3s;
}

/* Button Hover */

button:hover{
    transform:scale(1.08);
    box-shadow:0 5px 10px rgba(0,0,0,.3);
}


/* Quantity */

.qty {
  display: inline-block;
  width: 40px;
  text-align: center;
  font-size: 20px;
}


/* Color Box */

.colorBox{
    width:220px;
    height:120px;
    border:2px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:24px;
    font-weight:bold;
    margin:20px 0;
    border-radius:10px;
}


/* Footer */

.footer{
    background:#5d5e63;
    color:black;
    text-align:center;
    padding:20px;
    margin-top:40px;
}